<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="" href="/"><img loading="lazy" decoding="async" src="/assets/images/gld-logo.png" alt="logo" width="200"></a>
            <p>
Need plumbing services? We're just a call away!            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Leak Repair                    </li>
                    <li>Small Appliance Repair
                    </li>
                    <li>Installation
                    </li>
                    <li>Inspection and Replacement
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.city}}
                            {{client.address.state}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Email Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <a href="/" target="_blank" rel="noopener">GLD Plumbing</a>
        <span class="copyright">
            Copyright {% year %}</span>
    </div>
</footer>