---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About GLD Plumbing</h2>
                <p class="cs-text">
                    At GLD Plumbing, we pride ourselves on providing top-notch appliance services with a commitment to quality and customer satisfaction. Our experienced team is dedicated to delivering efficient solutions, whether you need repairs, installations, or inspections.
                </p>
                <p class="cs-text">
                    With a focus on reliability and expertise, we ensure your appliances function optimally and safely. Our mission is to exceed your expectations and build lasting relationships through exceptional service and attention to detail. Trust us to keep your home running smoothly.                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        "We pride ourselves on offering quality service you can trust, 24/7. At GLD Plumbing, our commitment to reliability and value ensures that every job is done right."
                    </p>
                    <span class="cs-name">Lis Laiqi</span>
                    <span class="cs-job">Co-Founder & Master Plumber</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77"/>
                </div>
                <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}