---
title: 'Reviews | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    I would recommend to everyone as a plumbing company. I had tried a couple different plumbing companies , GLD plumbing was more fair on the prices.The job was done very well and everything was left clean and neat. Great service.                </p>
                <div class="star-group">
                    <span class="name">Benny Tahiri</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    I highly recommend this company! I had a plumbing emergency and had to turn off all the water to my house. GLD's repairmen were at my home within two hours of me calling on a Saturday. The techs were highly skilled and professional! I'm grateful that they could help us!!
                </p>
                <div class="star-group">
                    <span class="name">Inger Stapleton</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    I had major bathtub issues with drainage and water pressure. They found both problems. We arranged an appointment and they did a wonderful job! Everything looks and is working brand new. I am very satisfied with the work done. They were very professional, knowledgeable and easy to work with and very affordable. Guys job well done! I highly recommend GLD Plumbing. Thank you again for a fantastic job!!! I will definitely call this company again if needed. Keep up the amazing work…                </p>
                <div class="star-group">
                    <span class="name">Pam Stewart</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Great work done at a fair price.  They came out when we needed them, got the work done well, and we had all 3 of our projects done for less than we paid one of the chain places to visit us the last time we needed plumbing help. I can't recommend GLD enough!
                </p>
                <div class="star-group">
                    <span class="name">Tony Barnes</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Just had EXCELLENT experience with GLD. Came when they said, took care of toilet leak, charged what they said. Cleaned up. Friendly,polite and efficient. Would use them again any time.                </p>
                <div class="star-group">
                    <span class="name">Edgar Levenson</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Would definitely recommend them, I had an emergency leak in my kitchen, they showed up within an hour, very professional. They also fixed it the right way and took no shortcuts.                </p>
                <div class="star-group">
                    <span class="name">Anthony Marano</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <a href="https://www.google.com/search?q=gld+plumbing&rlz=1C5CHFA_enUS968US968&oq=gld+plumbing&gs_lcrp=EgZjaHJvbWUyCQgAEEUYORiABDIGCAEQRRg8MgYIAhBFGDwyBwgDEAAYgAQyDQgEEAAYhgMYgAQYigUyDQgFEAAYhgMYgAQYigUyDQgGEAAYhgMYgAQYigUyBggHEEUYPNIBCDIyMjNqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#lrd=0x65ef4b59c111c90f:0x65000da03a7e636c,3,,,," target="_blank" class="cs-button-solid">Leave a Review!</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}